<!-- templates/partials/scripts.html -->

<!-- 1. Библиотека Bootstrap -->
<script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>

<!-- 2. Файл с логикой чата -->
<script src="{{ url_for('static', path='js/chat.js') }}"></script>

<!-- 3. Инициализация (если на странице есть чат) -->
{% if chat_messages is defined %}
<script>
    initChat({
        initialLastMsgId: parseInt("{{ chat_messages[0][0] if chat_messages else 0 }}") || 0,
        userName: "{{ user_name }}",
        userList: {{ user_list | tojson if user_list else [] }}
    });
</script>
{% endif %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const trigger = document.getElementById('triggerContainer');
    const formContainer = document.getElementById('projectFormContainer');
    
    const showBtn = document.getElementById('showFormBtn');
    const hideBtn = document.getElementById('closeFormBtn');
    const hideCross = document.getElementById('closeFormCross');

    // Проверяем, существует ли кнопка на этой странице (на главной - да, в архиве - нет)
    if (showBtn && formContainer && trigger) {
        // Функция показать
        showBtn.onclick = () => {
            formContainer.style.display = 'block';
            trigger.style.display = 'none';
        };

        // Функция скрыть
        const hideForm = () => {
            formContainer.style.display = 'none';
            trigger.style.display = 'block';
        };

        if (hideBtn) hideBtn.onclick = hideForm;
        if (hideCross) hideCross.onclick = hideForm;
    }
});
</script>