<!DOCTYPE html>
<html>
<head>
    <title>Вход в DMS</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 card p-4 shadow">
            <h4 class="text-center mb-3">Представьтесь</h4>
            <form action="/login" method="post">
                <input type="text" name="name" class="form-control mb-3" placeholder="Ваше ФИО" required>
                <button type="submit" class="btn btn-primary w-100">Войти в систему</button>
            </form>
        </div>
    </div>
</body>
</html>